.form{
  min-width       : 390px;
  text-align      : left;
}
.form input{
  width           : 65%;
}
.input{
  min-width       : 355px;
}
.submit{
  min-width       : 375px;
  width           : 68% !important;
}
input[type=color]{
  height          : 29px !important;
}
input[type=color],
input[type=date]{
  width           : 10%;
  padding         : 1px 10px;
  display         : inline;
}
input[type=checkbox]{
  width             : 16px;
  -ms-transform     : scale(1.5); /* IE */
  -moz-transform    : scale(1.2); /* FF */
  -webkit-transform : scale(1.5); /* Safari and Chrome */
  -o-transform      : scale(1.5); /* Opera */
  padding           : 10px;
  vertical-align    : middle;
}
input[type=checkbox]:hover,
input[type=checkbox]:focus{
  cursor            : pointer;
}
.color{
  width           : 40px;
  line-height     : 29px;
  margin-left     : 10px;
}
.available{
  line-height     : 23px;
  vertical-align  : middle;
  height          : 100%;
  width           : 200px;
}
div.fileUploadDiv {
  position        : relative;
  width           : 65%;
  min-width       : 375px;
}
input.btn{
  width           : 80px;
  text-align      : center;
  background      : #0b9444;
  color           : white;
  font-weight     : bold;
  border-radius   : 15px;
  border          : 1px solid #39b54a;
  z-index         : 5;
  height          : 29px !important;
}
input.btn:hover{
  background      : rgba(11, 148, 68, .7);
  cursor          : pointer;
}
.fileUploadDiv input#uploadInput {
  position        : absolute;
  top             : 0;
  left            : 0;
  margin          : 0;
  padding         : 0;
  cursor          : pointer;
  opacity         : 0;
  filter          : alpha(opacity=0);
  width           : 100px;
  height          : 19px;
  display         : none;
}
#fileNameBox{
  width           : 150px;
  float           : left;
  margin-right    : 5%;
}
.clearBtn{
  margin-left     : 5%;
}