/*
    licht groen = #39b54a
    donker groen = #0b9444
*/
html, body{
  height          : 100%;
  width           : 100%;
}
body{
  margin          : 0;
  display         : table;
  font-family     : sans-serif;
  font-size       : 0.9em;
  color           : #0b9444;
  background      : #39b54a;
  background      : -webkit-linear-gradient(left top, #39b54a, #006838) fixed;
  background      : -o-linear-gradient(bottom right, #39b54a, #006838) fixed;
  background      : -moz-linear-gradient(bottom right, #39b54a, #006838) fixed;
  background      : linear-gradient(to bottom right, #39b54a, #006838) fixed;
}
#mainContainer{
  display         : table-cell;
  vertical-align  : middle;
}
#containerCenter{
  margin          : 20px auto;
  width           : 40%;
  min-width       : 402px;
  background-color: white;
  border-radius   : 2em;
  padding         : 3em;
  box-shadow      : 1em 1em 3em black;
}
.form input:not([type=checkbox]){
  height          : 25px;
}
input:focus{
  outline         : 0;
}
input[type=submit],
[type=button]{
  font-weight     : bold;
  height          : 25px;
  width           : 20%;
  color           : white;
  border-radius   : 15px;
  border          : 1px solid #39b54a;
  outline         : none;
  background      : #0b9444;
  padding         : 1px default 1px default;
}
input[type=submit]:hover,
input[type=submit]:focus,
input[type=button]:hover,
input[type=button]:focus{
  cursor          : pointer;
  background      : rgba(11, 148, 68, .7);
}
select,
input[type=date],
[type=text],
[type=integer],
[type=color],
[type=email],
[type=password]{
  border-radius   : 15px;
  border          : 1px solid #39b54a;
  padding-left    : 10px;
  padding-right   : 10px;
}
input[type=date]:hover,
[type=text]:hover,
[type=integer]:hover,
[type=color]:hover,
[type=email]:hover,
[type=password]:hover{
  border-color: rgba(11, 148, 68, .3);
}
.line{
  border: 1px solid #39b54a;
  width: 100%;
  margin: auto;
}
select,
.submit{
  height          : 29px !important;
}
.requiredStar{
  font-size       : 20px;
  vertical-align  : middle;
}

select {
  margin: 0;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  background: #f8f8f8;
  color:#888;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  padding-right: 18px;
}

.select {position:relative}
.select:after {
  content:'>';
  font:11px "Consolas", monospace;
  color:#aaa;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  right:8px; top:2px;
  padding:0 0 2px;
  position:absolute;
  pointer-events:none;
}
.select:before {
  content:'';
  right:6px; top:0px;
  width:20px; height:20px;
  background:transparent;
  position:absolute;
  pointer-events:none;
  display:block;
}
.img{
  width:4.5em;
  display: block;
  float:left;
  margin-right: 5px;
  margin-bottom: 5px;
}
.img:hover{
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  cursor:pointer;
}
.imgDiv{
  float:left;
  max-width: 380px;
}
.imgCheckbox{
  display:none;
}
.logout{
  margin-top      : 4px; 
  text-decoration : none;
  text-align      : center;
  font-weight     : bold;
  width           : 15%;
  color           : white;
  border-radius   : 15px;
  border          : 1px solid #39b54a;
  outline         : none;
  background      : #0b9444;
  padding         : 2px 0px 2px 0px;
  float           : right;
}