/*
    Created on : 1-mei-2016, 11:59:30
    Author     : Dnl.m
*/
.register{
  margin: auto;
  min-width: 200px;
  text-align: left;
}
.register input{
  width:80%;
  margin-right: 5%;
}

.inlogger{
  text-align:center;
  width:50%;
}
.login,.register{
  width:50%;
  text-align:center;
}
